<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Update Employee</title>
</head>

<body>
<div class="container">
    <h3>Employee Directory</h3>
    <hr>

    <p class="h4 mb-4">Update Employee</p>

    <form action="#" th:action="@{/employees/save}"
          th:object="${employee}" method="post">
        <!-- Object adı controllerdaki ile aynı olmalı !-->
        <!-- inputlarda flield içerisindeki *{...} entitylerdeki karşılığı ifade eder -->
        <input type="hidden" th:field="*{id}">
        <!-- Hangi kullanıcının güncelleneceğini belirtmek için burda id'yi hidden şekilde yazılır -->
        <input type="text" th:field="*{firstName}" class="form-control mb-4 w-25" th:placeholder="*{firstName}">
        <input type="text" th:field="*{lastName}" class="form-control mb-4 w-25" th:placeholder="*{lastName}">
        <input type="text" th:field="*{email}" class="form-control mb-4 w-25" th:placeholder="*{email}">
        <button type="submit" class="btn btn-info col-2">Update</button>
    </form>

    <hr>
    <a th:href="@{/employees/list}">Back to Employees List</a>

</div>

</body>

</html>